<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <img class="coldsmartType" src="assets/logotypeLGHTBLUE.png" alt=""></ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" class="profile" [routerLink]="['/home']"><ion-icon name="home"></ion-icon></ion-button>
      <ion-button slot="icon-only" class="menu" (click)="openMenuPopover($event)"> <ion-icon name="menu-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="textHeader">Frequently<br>Asked<br>Questions</p>

  <div class="questions">
    <h1>Q1:</h1>
    <p>Is the ColdSmart app free?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>Yes! it is completely free.</p>    
  </div>
  <div class="questions">
    <h1>Q2:</h1>
    <p>Can I add any brand or model of Aircon into the app?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>Yes, ColdSmart is widely compatible to any Aircon with standard infrared remote controls.</p>    
  </div>
  <div class="questions">
    <h1>Q3:</h1>
    <p>Where do I get the Id and Password of the Raspberry Pi?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>The Id and Password is indicated at the back side of the Raspberry Pi device, or it will be given by the developers.</p>    
  </div>
  <div class="questions">
    <h1>Q4:</h1>
    <p>Is internet required in controlling my AC?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>Yes, ColdSmart is connected to a cloud database that stores every data commands that you set through the app.</p>    
  </div>
  <div class="questions">
    <h1>Q5:</h1>
    <p>I can control my aircon through a remote, what makes it different?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>Through ColdSmart, you can adjust your settings ANYWHERE at ANYTIME as long as you are connected to the internet.</p>    
  </div>
  <div class="questions">
    <h1>Q6:</h1>
    <p>What if my phone disconnects to the internet, does it affect the settings that I set?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>No, the settings that you set will automatically be saved inside the cloud database.</p>    
  </div>
  <div class="questions">
    <h1>Q7:</h1>
    <p>How does ColdSmart helps me to manage and save energy?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>ColdSmart automates your  Aircon settings and regulate its usage  through the sensors.</p>    
  </div>
  <div class="questions">
    <h1>Q8:</h1>
    <p>How does ColdSmart knows where I am inside my house?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>ColdSmart only uses thermal-motion sensors to determine if there is someone inside a certain area of your house. </p>    
  </div>
  <div class="questions">
    <h1>Q9:</h1>
    <p>What is DSM (Demand-Side Management)?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p> It is a program that ColdSmart offers. This includes a contract or agreement between you and the power utility.</p>    
  </div>
  <div class="questions">
    <h1>Q10:</h1>
    <p>What are the benefits if I participate to DSM?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>It ensures a low energy consumption and a yearly rebate per horsepower of air-conditioners</p>    
  </div>
  <div class="questions">
    <h1>Q11:</h1>
    <p>What if I don't register to DSM? Can I still use ColdSmart?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>Definitely yes! DSM is not required in using the app, but we do highly recommend it.</p>    
  </div>
  <div class="questions">
    <h1>Q12:</h1>
    <p>If I register to DSM, can they see/know where I am inside my house?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>No, ColdSmart only uses thermal-motion sensors to monitor if there is someone inside a certain area inside your house.</p>    
  </div>
  <div class="questions">
    <h1>Q13:</h1>
    <p>Can I change some settings of my aircon when I am under the DSM Program?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>No, settings will be unchangeable until the end of the given contract.</p>    
  </div>
  <div class="questions">
    <h1>Q14:</h1>
    <p>How do I register to DSM?</p>    
  </div>
  <div class="answers">
    <h1>ANS:</h1>
    <p>Visit the <a href="https://coldsmart.net/">Coldsmart</a> website for more info.</p>    
  </div>
  















</ion-content>
