$font: 'Metropolis';
$white: #F5F5F5;
$gray: #E6E6E6;
$black: #1F1F1F;
$darkblue: #0E2B3D;
$blue: #174866;
$lightblue: #52AAB5;


ion-header{
    ion-toolbar{
      --background: $darkblue;
      .coldsmartType{
        width: 146px;
        height: 27px;
        left: 31px;
        top: 67px;
      }
  
      ion-segment{
        // --background: $darkblue;
        // color: #52AAB5;
        
  
        ::part(indicator-background) {
          background-color: #52AAB5;
          color: #52AAB5;
  
        }
      }
  
    }
  
}

ion-content{
    .textHeader{
        position: relative;
        height: 10%;
        width: 100%;
        left: 10px;

        font-style: normal;
        font-family: $font;
        font-size: 32px;
        font-weight: 800;
        line-height: 32px;
    }    

    .subtitle{
        position: relative;
        height: 60%;
        bottom: 15px;
        left: 10px;

        font-style: normal;
        font-family: $font;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        p{
            margin-right: 10px;
        }
    }

    .developers{
        position: relative;
        .textHeader2{
            position: relative;
            height: 10%;
            width: 50px;
            left: 10px;
    
            font-style: normal;
            font-family: $font;
            font-size: 32px;
            font-weight: 800;
            line-height: 32px;
        }
        .subtitle2{
            position: relative;
            height: 10px;
            width: 355px;
            left: 10px;
    
            font-style: normal;
            font-family: $font;
            font-size: 16px;
            font-weight: 300;
            line-height: 20px;

            p{
                margin-right: 10px;
            }

            ion-item-group{
                position: relative;
                .position{
                    position: relative;
                    left: 5px;
                    font-style: normal;
                    font-family: $font;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 20px;
                }
            }

        }

    }

 

    

}