<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <img class="coldsmartType" src="assets/logotypeLGHTBLUE.png" alt=""></ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" class="profile" [routerLink]="['/home']"><ion-icon name="home"></ion-icon></ion-button>
      <ion-button slot="icon-only" class="menu" (click)="openMenuPopover($event)"> <ion-icon name="menu-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1 class="textHeader">About <br> ColdSmart</h1>
  <ion-text class="subtitle">
    <p>Heating Ventilation Air-conditioning (HVAC) has the highest share
       in the electricity load of around 42% in homes and 39% in 
       commercial buildings. <br><br>The Philippines may experience a 
       power crisis during 2022 summer months amidst the demand 
       increase with scarce energy reserves;<strong> our country having 
       the  most expensive power rate in Asia Pacific Region. </strong>
       <br><br>
       <strong>RA-11285 Energy Efficiency and Conservation Act of 2019 </strong>
       aims to solve these energy problems.
    </p>
    <p>
      <strong>ColdSmart helps to maintain a clean and sustainable energy</strong> to 
      residential (or even commercial) areas especially during peak 
      hot months (from March - August) by simply automating the aircon 
      settings without compromising the comfort level of the user. 
      <br><br>
      <strong>ColdSmart also aims to help and as much as possible prevent 
      sudden power interruptions</strong> due to high demand of energy supply.
   </p> 
   <p><br></p>
   <p> 
    <strong>For more information. Visit our <a href="https://coldsmart.net">website</a></strong>
    </p>
  </ion-text>

  <h1 class="textHeader">Features of<br> ColdSmart</h1>
  <ion-text class="subtitle">
    <p>
      <strong>Compatible</strong> to any worldwide HVAC brand with standard InfraRed remote controls
    </p>
    <p>
      <strong>Smart Schedule</strong> - choose your desired day and night temperatures and activates only if premises is occupied. Customize all HVAC comfort settings that you prefer.
    </p>
    <p>
      <strong>Indoor Air Quality (iAQ) Sense</strong> - Achieve healthy climate, advises how long to open windows; or warning for risk of developing a mold.
    </p>
    <p>
      <strong>HVAC Zoning</strong> - Wireless sensors track which room you are in and auto-adjusts settings.
    </p>
  </ion-text>

  <div class="developers">
  <h1 class="textHeader">Developers</h1>
  <div class="subtitle2">
<ion-item-group>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/laurence.jpg" />
    </ion-avatar>
    <ion-label>
      <h2>
      <strong>Laurence N. Cortez</strong>
      </h2>
      <p class="position">Software and Full Stack Developer</p>
  </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/kurt.jpg" />
    </ion-avatar>
    <ion-label>
      <h2>
      <strong>Jean Kurt C. De Austria</strong>
      </h2>
      <p class="position">Mobile and Front End Developer</p>
  </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/sheena.PNG" />
    </ion-avatar>
    <ion-label>
      <h2>
      <strong>Sheena A. Pelovello</strong>
      </h2>
      <p class="position">Digital Marketing Head</p>
  </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/ellaisy.jpg" />
    </ion-avatar>
    <ion-label>
      <h2>
      <strong>Ellaisy T. Areola</strong>
      </h2>
      <p class="position">Sales and Marketing Executive</p>
  </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/alaisa.jpg" />
    </ion-avatar>
    <ion-label>
      <h2>
      <strong>Alaisa T. Brosola</strong>
      </h2>
      <p class="position">Business System Analystr</p>
  </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/jobert.png" />
    </ion-avatar>
    <ion-label>
      <h2>
      <strong>Jobert V. Adviento</strong>
      </h2>
      <p class="position">Web Designer and Developer</p>
  </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="assets/jam.jpg" />
    </ion-avatar>
    <ion-label>
      <h2>
      <strong>Fernando Jaminola Jr.</strong>
      </h2>
      <p class="position">CEO and Founder</p>
  </ion-label>
  </ion-item>

  </ion-item-group>
    </div>
</div>




</ion-content>
