<ion-content class="ion-padding">

  <ion-item-divider class="ion-text-center">
    <div style="width: 100%; text-align: center; color:#1F1F1F;">AIR QUALITY COLORS</div>
  </ion-item-divider>

  <div class="content">
    
    <ion-item lines="none">
      <ion-label>
        <div style="position: absolute; width: 15px; height: 16px; background-color: green;"></div>
        <b style="position: relative; left: 10%;">NORMAL</b>
      </ion-label>
    </ion-item>
      <p class="meaning">
        Air quality is satisfactory, and air pollution poses little or no risk.
      </p>

    <ion-item-divider class="ion-text-center"></ion-item-divider>
    <ion-item lines="none">
      <ion-label>
        <div style="position: absolute; width: 15px; height: 16px; background-color: yellow;"></div>
        <b style="position: relative; left: 10%;">ADEQUATE</b>
      </ion-label>
    </ion-item>
      <p class="meaning">
        Air quality is acceptable. However, there may be a risk for some people, particularly those who are unusually sensitive to air pollution.
      </p>
      <ion-item-divider class="ion-text-center"></ion-item-divider>
      <ion-item lines="none">
        <ion-label>
          <div style="position: absolute; width: 15px; height: 16px; background-color: orange;"></div>
          <b style="position: relative; left: 10%;">UHEALTHY</b>
        </ion-label>
      </ion-item>
        <p class="meaning">
          Members of sensitive groups may experience health effects. The general public is less likely to be affected.
        </p>
        <ion-item-divider class="ion-text-center"></ion-item-divider>
        <ion-item lines="none">
          <ion-label>
            <div style="position: absolute; width: 15px; height: 16px; background-color: purple;"></div>
            <b style="position: relative; left: 10%;">TOXIC</b>
          </ion-label>
        </ion-item>
        <p class="meaning">
          Health alert: The risk of health effects is increased for everyone.
        </p>
        <ion-item-divider class="ion-text-center"></ion-item-divider>
        <ion-item lines="none">
          <ion-label>
            <div style="position: absolute; width: 15px; height: 16px; background-color: maroon;"></div>
            <b style="position: relative; left: 10%;">HAZARDOUS</b>
          </ion-label>
        </ion-item>
          <p class="meaning">
            Health warning of emergency conditions: everyone is more likely to be affected.
          </p>
  </div>
      
</ion-content>
