<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit Aircon</ion-title>
    <ion-buttons slot="end">
    <ion-button slot="icon-only" class="close" (click)="dismissModal()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="addAirconForm">

    <div class="information">

      <p class="textInfo"> <ion-icon class="help_icon" name="help-circle"></ion-icon>
        Editing the information of your aircon helps you to fully manage the climate inside your room.

    </div>

  <form [formGroup]="editAirconForm" (ngSubmit)="editAircon(editAirconForm.value)">


  <ion-item-divider class="ion-text-center">
    <div style="width: 100%; text-align: center; color:#1F1F1F; font-weight: 500;">DEVICE INFORMATION</div>
  </ion-item-divider>

  <ion-list lines="none">
  
    <ion-item>
      <ion-label position="stacked">AC Brand: </ion-label>
      <ion-input type="text" formControlName="acBrand" placeholder="Condura"></ion-input>
    </ion-item>
  
    <!-- <ion-item>
      <ion-label position="stacked">AC Type: </ion-label>
      <ion-input type="text" formControlName="acType" placeholder="Split Type"></ion-input>
    </ion-item> -->
  
    <ion-item>
      <ion-label>Remote Model</ion-label>
    <ion-select placeholder="Select One" formControlName="remoteModel">
      <ion-select-option value="aircon">Carrier</ion-select-option>
      <ion-select-option value="everest">Everest</ion-select-option>
    </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Minimum Temperature: </ion-label>
      <ion-input type="number" formControlName="minTemp" placeholder="16"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Maximum Temperature: </ion-label>
      <ion-input type="number" formControlName="maxTemp" placeholder="27"></ion-input>
    </ion-item>

    </ion-list>

      <ion-item class="addSchedBtns" lines="none">
        <button slot="end" ion-button class="setBtn" [disabled]="!editAirconForm.valid" type="submit" expand="block" >Set</button>
        <!-- <button slot="end" ion-button class="cancelBtn" (click)="dismissModal()" color="danger">Cancel</button> -->
      </ion-item>

    </form>
</div>

</ion-content>
