<ion-header>
  <ion-toolbar color="primary">
  <ion-title>
    Menu
   </ion-title>
</ion-toolbar>
</ion-header>




<ion-content>
<ion-list lines="none">
  <ion-item detail (click)="gotoFaqsPage()">
    <ion-label> FAQ's</ion-label>
  </ion-item>
  <ion-item detail (click)="gotoAboutPage()">
    <ion-label> About</ion-label>
  </ion-item>
  <ion-item detail (click)="gotoFeedbackPage()">
    <ion-label> Give a feedback</ion-label>
  </ion-item>
  <ion-item button (click)="logout()">
    <ion-label> Logout</ion-label>
  </ion-item>

</ion-list>
</ion-content>
