$font: 'Metropolis';
$white: #F5F5F5;
$gray: #E6E6E6;
$black: #1F1F1F;
$darkblue: #0E2B3D;
$blue: #174866;
$lightblue: #52AAB5;

ion-content{
    .header{
        position: absolute;
        width: 100%;
        height: 239px;
        
        border-radius: 0px 0px 20px 20px;
        background-color: #0E2B3D;
    
        .introText{
            position: absolute;
            width: 100%;
            margin: 1rem auto;
            height: 28px;
            // left: 103px;
            top: 117px;
        
            font-family: $font;
            font-style: normal;
            font-weight: 100;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color:$white;
        }
        .coldsmartType{
            position: absolute;
            width: 100%;
            height: 35px;
            // left: 110px;
            top: 140px;

            color: #52AAB5;
            font-family: $font;
            font-style: normal;
            font-weight: 750;
            font-size: 40px;
            line-height: 14px;
            text-align: center;
        }
    }
    .textHeader{
        position: relative;
        height: 64px;
        width: 200px;
        top: 250px;
        left: 58px;

        font-style: normal;
        font-family: $font;
        font-size: 32px;
        font-weight: 800;
        line-height: 32px;
    }

    form{
        position: relative;
        width: 80%;
        margin: 1rem auto;
        height: 213px;
        // left: 58px;
        top: 250px;

        .validation-errors-required{
            .error-message-required{
                color: red;
                font-size: 16px;
            }
        }

        .validation-errors{
            position: relative;
            top: 35%;

            .error-message
            {
              color: red;
              font-size: 12px;
            //   margin-left: 10px;
              margin-top: 10px;
              text-align: center;
            }
        }



        .fullName{
            --border-width: 1px;
            --border-color: $black;
            --border-radius: 8px 8px 0px 0px;
        }
        .userName{
            --border-width: 1px;
            --border-color: $black;
        }
        .emailAdd{
            --border-width: 1px;
            --border-color: $black;
        }
        .contact{
            --border-width: 1px;
            --border-color: $black;
        }
        .password{
            --border-width: 1px;
            --border-color: $black;
        }
        .confirmPass{
            --border-width: 1px;
            --border-color: $black;
            --border-radius: 0px 0px 8px 8px;
        }

        .btn{
            display: flex;
            justify-content: center;
            .signUpBtn{
                position: absolute;
                height: 50px;
                width: 70%;
                margin: auto;
                top: 325px;
                // left: 50px;
                background: $lightblue;
                border-radius: 8px;
                
                font-style: normal;
                font-size: 16px;
                font-weight: 200;
                line-height: 16px;
                color: $white;
            }
        }
    }


    .login{
        position: relative;
        width: 60%;
        height: 20px;
        margin: 1rem auto;
        // left: 100px;
        top: 550px;

        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }

















}