<ion-header>
  <ion-toolbar color="primary">
    <ion-title>New Schedule</ion-title>
    <ion-buttons slot="end">
    <ion-button slot="icon-only" class="close" (click)="dismissModal()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="addSchedForm">
  <!-- <ion-card class="form1"> -->
    <form [formGroup]="addSchedForm" (ngSubmit)="addSchedule(addSchedForm.value)">
      <ion-card-header>
        <ion-item>
          <ion-label position="stacked">Schedule Name: </ion-label>
          <ion-input formControlName="schedName" type="text" placeholder="Work From Home Schedule"></ion-input>
        </ion-item>
      </ion-card-header>

      <div class="days">
        <ion-list lines="none">
          <ion-item-divider>
            <ion-label>Select Day</ion-label>
          </ion-item-divider>

          <ion-item-group class="otherDays" *ngFor="let day of Days; let i=index">

            <ion-item>
              <ion-label>{{day.name}}</ion-label>
              <ion-checkbox [value]="day.value" (ionChange)="onCheckboxChange($event)"></ion-checkbox>
            </ion-item>

          </ion-item-group>

        </ion-list>
      </div>

      <div class="time">
        <ion-list>
          <ion-item-divider>
            <ion-label>Select Time</ion-label>
          </ion-item-divider>

          <ion-item>
              <ion-label>Start Time</ion-label>
              <ion-datetime formControlName="startTime" displayFormat="hh:mm" presentation="time"></ion-datetime>
          </ion-item>

          <ion-item>
            <ion-label>End Time</ion-label>
            <ion-datetime formControlName="endTime" displayFormat="hh:mm" presentation="time" ></ion-datetime>
          </ion-item>

        </ion-list>
      </div>



      <div class="tempRange">
          <ion-item lines="none">
            <ion-label>Temperature</ion-label>
            <ion-select formControlName="prefTemp" placeholder="24 °C">
              <ion-select-option value="18">18 °C</ion-select-option>
              <ion-select-option value="19">19 °C</ion-select-option>
              <ion-select-option value="20">20 °C</ion-select-option>
              <ion-select-option value="21">21 °C</ion-select-option>
              <ion-select-option value="22">22 °C</ion-select-option>
              <ion-select-option value="23">23 °C</ion-select-option>
              <ion-select-option value="24">24 °C</ion-select-option>
              <ion-select-option value="25">25 °C</ion-select-option>
              <ion-select-option value="26">26 °C</ion-select-option>
              <ion-select-option value="27">27 °C</ion-select-option>
            </ion-select>
          </ion-item>
      </div>

      <ion-item class="addSchedBtns" lines="none">
        <button slot="end" ion-button class="setBtn"  [disabled]="!addSchedForm.valid" expand="block" >Add</button>
        <!-- <button slot="end" ion-button class="cancelBtn" (click)="dismissModal()" color="danger">Cancel</button> -->
      </ion-item>

      

    </form>
  <!-- </ion-card> -->
</div>











</ion-content>
