<ion-header>
  <ion-toolbar color="primary">
    <ion-title>New Schedule</ion-title>
    <ion-buttons slot="end">
    <ion-button slot="icon-only" class="close" (click)="dismissModal()"><ion-icon name="close-outline"></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="addSchedForm">
  <!-- <ion-card class="form1"> -->
    <form [formGroup]="addSchedForm" (ngSubmit)="addSchedule(addSchedForm.value)">
      <ion-card-header>
        <ion-item>
          <ion-label position="stacked">Schedule Name: </ion-label>
          <ion-input formControlName="schedName" type="text" placeholder="Work From Home Schedule"></ion-input>
        </ion-item>
      </ion-card-header>

      <div class="days">
        <ion-list lines="none">
          <ion-item-divider>
            <ion-label>Select Day</ion-label>
          </ion-item-divider>

          <ion-item-group class="otherDays" *ngFor="let day of Days; let i=index">

            <ion-item>
              <ion-label>{{day.name}}</ion-label>
              <ion-checkbox [value]="day.value" (ionChange)="onCheckboxChange($event)"></ion-checkbox>
            </ion-item>

          </ion-item-group>

        </ion-list>
      </div>

      <div class="time">
        <ion-list>
          <ion-item-divider>
            <ion-label>Select Time</ion-label>
          </ion-item-divider>

          <ion-item>
              <ion-label>Time</ion-label>
              <ion-datetime formControlName="startTime" displayFormat="hh:mm" presentation="time"></ion-datetime>
          </ion-item>

          <!-- <ion-item>
            <ion-label>End Time</ion-label>
            <ion-datetime formControlName="endTime" displayFormat="hh:mm" presentation="time" ></ion-datetime>
          </ion-item> -->
          <!-- <ion-item-divider>
            <ion-label>Power</ion-label>
          </ion-item-divider>
          <ion-radio-group formControlName="airconPower">
            <ion-item *ngFor="let power of power">
              <ion-label>{{power.name}}</ion-label>
              <ion-radio slot="end" [value]="power.value" (click)="airconPower(power.value)"></ion-radio>
            </ion-item> -->
            <ion-item-divider>
              <ion-label>Settings</ion-label>
            </ion-item-divider>
            
            <div class="tempRange">
              <ion-item>
                <ion-label position="stacked">Type</ion-label>
                <ion-select formControlName="type" placeholder="Power(On/Off)">
                  <ion-select-option value="POWER">Power (On/Off)</ion-select-option>
                  <ion-select-option value="PREFERRED_TEMP">Set temperature</ion-select-option>
                  <ion-select-option value="ECO_MODE">Eco Mode</ion-select-option>
                  <ion-select-option value="FAN_MODE">Fan Mode</ion-select-option>
                </ion-select>
              </ion-item>
            </div>

            <div *ngIf="addSchedForm.get('type').touched && addSchedForm.value.type == 'POWER' || addSchedForm.value.type == 'ECO_MODE' || addSchedForm.value.type == 'FAN_MODE'">
            <ion-radio-group formControlName="switch">
              <ion-item>
                <ion-label>ON</ion-label>
                <ion-radio slot="end" value="true"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>OFF</ion-label>
                <ion-radio slot="end" value="false"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </div>
        </ion-list>
      </div>

      

      <div class="tempRange" *ngIf="addSchedForm.get('type').touched && addSchedForm.value.type == 'PREFERRED_TEMP'">
          <ion-item lines="none">
            <ion-label>Temperature</ion-label>
            <ion-select formControlName="prefTemp" placeholder="24 °C">
              <ion-select-option value="16">16 °C</ion-select-option>
              <ion-select-option value="17">17 °C</ion-select-option>
              <ion-select-option value="18">18 °C</ion-select-option>
              <ion-select-option value="19">19 °C</ion-select-option>
              <ion-select-option value="20">20 °C</ion-select-option>
              <ion-select-option value="21">21 °C</ion-select-option>
              <ion-select-option value="22">22 °C</ion-select-option>
              <ion-select-option value="23">23 °C</ion-select-option>
              <ion-select-option value="24">24 °C</ion-select-option>
              <ion-select-option value="25">25 °C</ion-select-option>
              <ion-select-option value="26">26 °C</ion-select-option>
              <ion-select-option value="27">27 °C</ion-select-option>
            </ion-select>
          </ion-item>
      </div>

      <ion-item class="addSchedBtns" lines="none">
        <button slot="end" ion-button class="setBtn"  [disabled]="!addSchedForm.valid" expand="block" >Add</button>
      </ion-item>

      

    </form>
  <!-- </ion-card> -->
</div>











</ion-content>
