<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <img class="coldsmartType" src="assets/logotypeLGHTBLUE.png" alt=""></ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" class="profile" [routerLink]="['/home']"><ion-icon name="home"></ion-icon></ion-button>
      <ion-button slot="icon-only" class="menu" (click)="openMenuPopover($event)"> <ion-icon name="menu-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor = "let user of userData">

  <div class="userCard">
    
      <div class="circle">
        <img class="userPic" (click)="changePic()" src="assets/78-785827_user-profile-avatar-login-account-male-user-icon.png">
        <!-- <ion-icon name="person-circle-outline"></ion-icon> -->
      </div>

    <ion-card>
      <ion-card-header color="primary">
        
      <ion-title>
        <div class="username">
          {{user.username}}
        </div>
      </ion-title>
      <ion-label>
        <p class="email">{{user.email}}</p> 
      </ion-label>
    </ion-card-header>


      <ion-card-content>
        <p class="address">{{location}}</p>
        <p class="contact">{{user.country_phone.phone}}</p>

        <!-- if the user is DSM Registered -->
        <div class="dsmVerified"> 
          <ion-label>
            <!-- <ion-icon slot="start" name="checkmark-circle"></ion-icon> -->
            <!-- <a href="#">Register to DSM</a>  -->
          </ion-label>
        </div>
        <!-- if the user is DSM Registered -->

        <div class="dsmVerified"> 
          <ion-label>
            Visit ColdSmart website
            <a href="http://ofastph.com/coldsmart/"> here</a>
          </ion-label>
        </div>

        <!-- <button class="editProfileBtn" ion-button routerLink="/edit-profile-page">
          Edit Profile
        </button> -->
      </ion-card-content>
     
   


    
    </ion-card>
  </div>


  

</ion-content>

<ion-footer collapse="fade" class="ion-no-border" >
  <ion-toolbar>
    <p class="coldsmart">coldsmart</p>
    <p class="allRights">All Rights Reserved</p>
    <p class="copyright">Copyright Ⓒ 2022 </p>
  </ion-toolbar>
</ion-footer>
