<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <img class="coldsmartType" src="assets/logotypeLGHTBLUE.png" alt=""></ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" class="profile" [routerLink]="['/profile']"><ion-icon name="person-circle-outline"></ion-icon></ion-button>
      <ion-button slot="icon-only" class="menu" (click)="openMenuPopover($event)"> <ion-icon name="menu-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- segments -->
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectTabs">

      <ion-segment-button value="temperature" active>
        <ion-label>AC Devices</ion-label>
      </ion-segment-button>
    
      <ion-segment-button value="schedule">
        <ion-label>Schedule</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>



</ion-header>


<!-- contentsss -->

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Loading...">
    </ion-refresher-content>
  </ion-refresher> -->


<div class="status">
  <ion-segment [(ngModel)]="statusTabs">
    <ion-segment-button value="room_status">
      <ion-label>Room</ion-label>
    </ion-segment-button>
    <ion-segment-button value="weather">
      <ion-label>Weather</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- weather -->
  <div class="animate__animated animate__slideInRight animate__delay-0.5s" *ngIf="statusTabs == 'weather'">
  <ion-item-divider class="ion-text-center">
    <div style="width: 100%; text-align: center; color:#174866;">
      <ion-icon name="location" slot="start"></ion-icon>
      {{city}}</div>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label>Clouds</ion-label>
    <ion-text><b>{{weather}}</b></ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Temperature</ion-label>
    <ion-text><b>{{cityTemp}} °C</b></ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Humidity</ion-label>
    <ion-text><b>{{cityHumid}} %</b></ion-text>
  </ion-item>
</div>


  <!-- room status -->
  <div class="animate__animated animate__slideInLeft animate__delay-0.5s" *ngIf="statusTabs == 'room_status'">

  <ion-item lines="none">
    <ion-label>Inside now</ion-label>
    <ion-text><b>{{temp}} °C</b></ion-text>
  </ion-item>

  <ion-item lines="none">
    <ion-label>Humidity</ion-label>
    <ion-text><b>{{humid}} %</b></ion-text>
  </ion-item>
  
  <ion-item button (click)="airQualityInfoPop()" lines="none">
    <ion-label>Air Quality</ion-label>

    <ng-container *ngIf="air_quality_message == 'normal'">
      <div *ngFor="let messages of aq_messages.normal">
        <div class="AQColor" [ngStyle]="{'background-color': messages.color}"></div>
        <ion-text><b>{{ messages.status }}</b></ion-text>
      </div>
    </ng-container>

    <ng-container *ngIf="air_quality_message == 'adequate'">
      <div *ngFor="let messages of aq_messages.adequate">
        <div class="AQColor" [ngStyle]="{'background-color': messages.color}"></div>
        <ion-text><b>{{ messages.status }}</b></ion-text>
      </div>
    </ng-container>

    <ng-container *ngIf="air_quality_message == 'unhealthy'">
      <div *ngFor="let messages of aq_messages.unhealthy">
        <div class="AQColor" [ngStyle]="{'background-color': messages.color}"></div>
        <ion-text><b>{{ messages.status }}</b></ion-text>
      </div>
    </ng-container>

    <ng-container *ngIf="air_quality_message == 'harmful'">
      <div *ngFor="let messages of aq_messages.harmful">
        <div class="AQColor" [ngStyle]="{'background-color': messages.color}"></div>
        <ion-text><b>{{ messages.status }}</b></ion-text>
      </div>
    </ng-container>

    <ng-container *ngIf="air_quality_message == 'toxic'">
      <div *ngFor="let messages of aq_messages.toxic">
        <div class="AQColor" [ngStyle]="{'background-color': messages.color}"></div>
        <ion-text><b>{{ messages.status }}</b></ion-text>
      </div>
    </ng-container>

    <ng-container *ngIf="air_quality_message == 'hazardous'">
      <div *ngFor="let messages of aq_messages.hazardous">
        <div class="AQColor" [ngStyle]="{'background-color': messages.color}"></div>
        <ion-text><b>{{ messages.status }}</b></ion-text>
      </div>
    </ng-container>

  </ion-item>
</div>
  
</div>



<!-- if the segment tab is on TEMPERATURE -->

<div *ngIf="selectTabs == 'temperature'">
  <ion-item-divider class="ion-text-center">
    <div style="width: 100%; text-align: center; color:#1F1F1F; font-weight: 500;">AIRCONS</div>
  </ion-item-divider>

<div class="outerDiv">

  <ion-item-sliding #slidingItem>
  <ion-card class="card1" >
    <ion-card-header color="primary">
      
      <ion-item lines="none" color="transparent" class="deviceHeader">
        <ion-label>
          <ion-card-subtitle>Air-Conditioner</ion-card-subtitle>
          <ion-card-title>{{acBrand}}</ion-card-title>
          <p class="model" *ngIf="roomOccupancy == 'Occupied'">
            Room Occupancy: 
            <span style="color: #2dd36f;">{{roomOccupancy}}</span>
          </p>
          <p class="model" *ngIf="roomOccupancy == 'Vacant'">
            Room Occupancy: 
            <span style="color: #F16262;">{{roomOccupancy}}</span>
          </p>
        </ion-label>
        <ion-toggle [(ngModel)]="aircon" color="tertiary" slot="end" (click)="switchPower(aircon)"></ion-toggle>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="editAirconModal(slidingItem, airconList.id)" color="tertiary">
          <ion-icon slot="icon-only" name="pencil" color="light"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      
    </ion-card-header>

    <div *ngIf="aircon" class="tempSettings">
    <div class="circle1">
      <div class="circle2">
        <ion-img *ngIf="acMode == 'MODE_FAN'" class="eco" src="assets/fan_white.png" slot="start"></ion-img>
        <ion-img *ngIf="acMode == 'MODE_AUTO'" class="eco" src="assets/auto_white.png" slot="start"></ion-img>
        <ion-img *ngIf="acMode == 'MODE_COOL'" class="eco" src="assets/cool_white.png" slot="start"></ion-img>
        <ion-img *ngIf="acMode == 'MODE_DRY'" class="eco" src="assets/sunny_white.png" slot="start"></ion-img>

      <p class="tempNumber" *ngIf="acMode != 'MODE_FAN'">{{rangeVal}}<span class="unit">°C</span></p>
      <p class="tempNumber" *ngIf="acMode == 'MODE_FAN'">--<span class="unit">°C</span></p>
    </div>
    </div>

    <div class="tempRange">
      <ion-range [(ngModel)]="rangeVal" min="{{minTemp}}" max="{{maxTemp}}" step="1" snaps color="primary" (ionChange)="rangeFocused($event)">
        <ion-icon slot="start" color="tertiary" name="snow"></ion-icon>
        <ion-icon slot="end" color="danger" name="thermometer"></ion-icon>
      </ion-range>
    </div>

    <div class="settings">
    <ion-segment [(ngModel)]="acMode" scrollable>
      <ion-segment-button value="MODE_COOL" (click)="airconMode('MODE_COOL')">
        <ion-img class="fan" src="assets/cool_blue.png"></ion-img>
        <ion-label>COOL</ion-label>
      </ion-segment-button>
      <ion-segment-button value="MODE_FAN" (click)="airconMode('MODE_FAN')">
        <ion-img class="fan" src="assets/fan.png"></ion-img>
        <ion-label>FAN</ion-label>
      </ion-segment-button>
      <ion-segment-button value="MODE_DRY" (click)="airconMode('MODE_DRY')">
        <ion-img class="fan" src="assets/sunny_blue.png"></ion-img>
        <ion-label>DRY</ion-label>
      </ion-segment-button>
      <ion-segment-button value="MODE_AUTO" (click)="airconMode('MODE_AUTO')">
        <ion-img class="fan" src="assets/auto.png"></ion-img>
        <ion-label>AUTO</ion-label>
      </ion-segment-button>
    </ion-segment>

    </div>
      <ion-button class="swingBtn" slot="end" (click)="setSwing()">
        <ion-icon slot="icon-only" name="swap-vertical-outline" style="margin-left: 1rem;"></ion-icon>
         SWING
      </ion-button>
    </div>

  </ion-card>
  </ion-item-sliding>

</div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="tertiary" (click)="addAirconModal()">
      <ion-icon name="add" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</div>

<!-- segment tab TEMPERATURE end -->




<!-- if the segment tab is on SCHEDULE -->

<div *ngIf="selectTabs == 'schedule'">
  
  <div class="listSched">
    <ion-item-divider class="ion-text-center">
      <div style="width: 100%; text-align: center; color:#1F1F1F; font-weight: 500;">SCHEDULE</div>
    </ion-item-divider>
    
    <ion-segment scrollable   [(ngModel)]="defaultDay">
      <ion-segment-button  *ngFor="let day of schedDays ; let i = index" [value] = "day" (click)="segmentSelected(day, i)">
        <ion-label >{{day}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-slides #slide (ionSlidesDidLoad)="ionSlidesDidLoad()" (ionSlideDidChange)="ionSlideDidChange()" >

        <ion-slide>
        <ion-grid >
          <ion-row>

              <ion-col class="ion-align-self-start">
              <ion-list *ngIf="loadContent">

                <ion-item *ngFor="let item of day_schedules" button (click)="editSchedModal(item.schedId)" detail>
                  <ion-label>
                    <p class="setTemp">{{item.type}}</p>
                    <h2>{{item.value}}</h2>
                    <p class="time">{{item.time}}</p>
                  </ion-label>
                </ion-item>              
              </ion-list>


            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-slide>      
      
    </ion-slides>

</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button color="tertiary" (click)="addSchedModal()">
    <ion-icon name="add" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>



</div>
<!-- segment tab SCHEDULE end -->















</ion-content>
