<ion-header>
  <ion-toolbar color="primary">
    <ion-title> <img class="coldsmartType" src="assets/logotypeLGHTBLUE.png" alt=""></ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" class="profile" [routerLink]="['/profile']"><ion-icon name="person-circle-outline"></ion-icon></ion-button>
      <ion-button slot="icon-only" class="menu" (click)="openMenuPopover($event)"> <ion-icon name="menu-outline" ></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- segments -->
  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="selectTabs">

      <ion-segment-button value="temperature" active>
        <ion-label>AC Devices</ion-label>
      </ion-segment-button>
    
      <ion-segment-button value="schedule">
        <ion-label>Schedule</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>



</ion-header>


<!-- contentsss -->

<ion-content [fullscreen]="true" class="ion-padding">


<div class="status">
  <!-- weather -->
  <ion-item-divider class="ion-text-center">
    <div style="width: 100%; text-align: center; color:#174866;">{{city}}</div>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label>Weather</ion-label>
    <ion-text><b>{{weather}}</b></ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Temperature</ion-label>
    <ion-text><b>{{cityTemp}} °C</b></ion-text>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Humidity</ion-label>
    <ion-text><b>{{cityHumid}} %</b></ion-text>
  </ion-item>


  <!-- room status -->
  <ion-item-divider class="ion-text-center">
    <div style="width: 100%; text-align: center; color:#1F1F1F;">ROOM STATUS</div>
  </ion-item-divider>
  <ion-item lines="none">
    <ion-label>Room Temperature</ion-label>
    <ion-text><b>{{temp}} °C</b></ion-text>
  </ion-item>

  <ion-item lines="none">
    <ion-label>Room Humidity</ion-label>
    <ion-text><b>{{humid}} AH</b></ion-text>
  </ion-item>
  
  <ion-item button (click)="airQualityInfoPop()" lines="none">
    <ion-label>Air Quality</ion-label>

    <ng-container *ngIf="air_quality_message == 'normal'">
      <div *ngFor="let messages of aq_messages.normal">
        <div class="AQColor" [ngStyle]="{'background-color': messages.color}"></div>
        <ion-text><b>{{ messages.status }}</b></ion-text>
      </div>
    </ng-container>

    <ng-container *ngIf="air_quality_message == 'adequate'">
      <div *ngFor="let messages of aq_messages.adequate">
        <div class="AQColor" [ngStyle]="{'background-color': messages.color}"></div>
        <ion-text><b>{{ messages.status }}</b></ion-text>
      </div>
    </ng-container>

    <ng-container *ngIf="air_quality_message == 'unhealthy'">
      <div *ngFor="let messages of aq_messages.unhealthy">
        <div class="AQColor" [ngStyle]="{'background-color': messages.color}"></div>
        <ion-text><b>{{ messages.status }}</b></ion-text>
      </div>
    </ng-container>

    <ng-container *ngIf="air_quality_message == 'harmful'">
      <div *ngFor="let messages of aq_messages.harmful">
        <div class="AQColor" [ngStyle]="{'background-color': messages.color}"></div>
        <ion-text><b>{{ messages.status }}</b></ion-text>
      </div>
    </ng-container>

    <ng-container *ngIf="air_quality_message == 'toxic'">
      <div *ngFor="let messages of aq_messages.toxic">
        <div class="AQColor" [ngStyle]="{'background-color': messages.color}"></div>
        <ion-text><b>{{ messages.status }}</b></ion-text>
      </div>
    </ng-container>

    <ng-container *ngIf="air_quality_message == 'hazardous'">
      <div *ngFor="let messages of aq_messages.hazardous">
        <div class="AQColor" [ngStyle]="{'background-color': messages.color}"></div>
        <ion-text><b>{{ messages.status }}</b></ion-text>
      </div>
    </ng-container>

  </ion-item>
  
</div>



<!-- if the segment tab is on TEMPERATURE -->
<div *ngIf="selectTabs == 'temperature'">
  <ion-item-divider class="ion-text-center">
    <div style="width: 100%; text-align: center; color:#1F1F1F; font-weight: 500;">AIRCONS</div>
  </ion-item-divider>

<div class="outerDiv">
  <ion-item-sliding>
  <ion-card class="card1">
    <ion-card-header color="primary">
      
      <ion-item lines="none" color="transparent" class="deviceHeader">
        <ion-label>
          <ion-card-subtitle>Window-Type</ion-card-subtitle>
          <ion-card-title>CARRIER</ion-card-title>
          <p class="model">WCARZ006EC</p>
        </ion-label>
        <ion-toggle [(ngModel)]="aircon" color="tertiary" slot="end" (ionChange)="switchPower(aircon)"></ion-toggle>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="deleteAircon()" color="danger">
          <ion-icon slot="icon-only" name="trash" color="light"></ion-icon>
        </ion-item-option>
      </ion-item-options>
        
    

    </ion-card-header>

    <div *ngIf="aircon" class="tempSettings">
    <div class="circle1">
      <div class="circle2">
        <ion-img *ngIf="fan" class="fan" src="assets/fan_white.png" slot="start"></ion-img>
        <ion-img *ngIf="eco" class="eco" src="assets/eco_white.png" slot="start"></ion-img>
        <ion-img *ngIf="cool" class="fan" src="assets/cool_white.png" slot="start"></ion-img>

      <p class="tempNumber">{{rangeVal}}<span class="unit">°C</span></p>
    </div>
    </div>


    <div class="tempRange">
      <ion-range [(ngModel)]="rangeVal" min="16" max="27" step="1" snaps color="primary" (ionChange)="rangeFocused($event)">
        <ion-icon slot="start" color="tertiary" name="snow"></ion-icon>
        <ion-icon slot="end" color="danger" name="thermometer"></ion-icon>
      </ion-range>
    </div>


    <div class="settings">
  
    <ion-segment [(ngModel)]="acMode">
      <ion-segment-button value="MODE_COOL" (click)="airconMode('MODE_COOL')">
        <ion-img class="fan" src="assets/cool_blue.png"></ion-img>
        <ion-label>COOL</ion-label>
      </ion-segment-button>
      <ion-segment-button value="MODE_FAN" (click)="airconMode('MODE_FAN')">
        <ion-img class="fan" src="assets/fan.png"></ion-img>
        <ion-label>FAN</ion-label>
      </ion-segment-button>
      <ion-segment-button value="MODE_AUTO" (click)="airconMode('MODE_AUTO')">
        <ion-img class="fan" src="assets/auto.png"></ion-img>
        <ion-label>AUTO</ion-label>
      </ion-segment-button>
    </ion-segment>

    </div>

    </div>

  </ion-card>
</ion-item-sliding>

</div>

  <!-- advanced settings/features-->

  <ion-accordion-group>
    <ion-accordion toggle-icon="caret-down">
      <ion-item slot="header">
        <ion-label>Show Advanced Settings</ion-label>
      </ion-item>

      <ion-list slot="content">

        <ion-item lines="none">
          <ion-img class="HVAC" src="assets/settings/HVAC.png" slot="start"></ion-img>
          <ion-label>HVAC Zoning</ion-label>
          <ion-toggle color="tertiary" slot="end"></ion-toggle>
        </ion-item>

        <ion-item lines="none">
          <ion-img class="airQuality" src="assets/settings/AQ.png" slot="start"></ion-img>
          <ion-label>Air Quality</ion-label>
          <ion-toggle color="tertiary" slot="end" checked></ion-toggle>
        </ion-item>

      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="tertiary" (click)="addAirconModal()">
      <ion-icon name="add" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</div>

<!-- segment tab TEMPERATURE end -->




<!-- if the segment tab is on SCHEDULE -->

<div  *ngIf="selectTabs == 'schedule'">
  
  <div class="listSched">
    <ion-item-divider class="ion-text-center">
      <div style="width: 100%; text-align: center; color:#1F1F1F; font-weight: 500;">SCHEDULE</div>
    </ion-item-divider>
    
  <ion-list>

    <ion-item-sliding>
    <ion-item class="sched">
      <ion-label>
      <p class="day">Every Monday</p>
      <p class="setTemp">18 °C</p>
      <h1>Sched Name</h1>
      <p class="time">10:00 AM - 12:00 PM</p>
    </ion-label>
      <ion-toggle color="tertiary" slot="end"></ion-toggle>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="deleteSched(item)" color="danger">
        <ion-icon slot="icon-only" name="trash-bin" color="light"></ion-icon>
      </ion-item-option>

      <ion-item-option (click)="editSchedModal()" color="tertiary">
        <ion-icon slot="icon-only" name="create" color="light"></ion-icon>
      </ion-item-option>

    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

</div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" >
  <ion-fab-button color="tertiary" (click)="addSchedModal()">
    <ion-icon name="add" color="light"></ion-icon>
  </ion-fab-button>
</ion-fab>



</div>
<!-- segment tab SCHEDULE end -->















</ion-content>
